[user]
    name = Dev Container User
    email = dev@example.com

[core]
    editor = code --wait
    autocrlf = input

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = simple
    autoSetupRemote = true

[fetch]
    prune = true

[rebase]
    autoStash = true

[merge]
    conflictstyle = diff3

[log]
    decorate = true
    abbrevCommit = true
    graph = true
    oneline = true

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    visual = !gitk

